# set your user tokens as enivornment variables, such as ~/.secrets
# See the README for examples.
[color]
  ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[user]
	name = eduarbo
	email = eduarbo@gmail.com
[alias]
  # add
  chunkyadd = add --patch           # stage commits chunk by chunk

  # commit
  amend = commit --amend            # ammend your last commit
  ammend = commit --amend           # ammend your last commit

  # diff
  last = diff HEAD^                 # diff last committed change
  wdiff = diff --word-diff=plain

  # log
  changes = log --pretty=format:\"%C(auto)%h %Cgreen%cr %Cblue[%cn] %C(bold white)%s%Creset\" --name-status
  changelog = log --pretty=format:\" * %s\"

  # reset
  unstage = reset HEAD              # remove files from index (tracking)
  uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state

  root = !pwd
  panic = !tar cvf ../git_panic.tar *
	dt = difftool
[format]
  pretty = format:%C(green)%ad%Creset %C(auto)%h%C(auto)%d%Creset %C(reset)%s %Cblue [%an]%Creset
[merge]
  summary = true
  verbosity = 1
[apply]
  whitespace = nowarn
[branch]
  autosetuprebase = always
	autosetupmerge = true
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = current
[core]
  autocrlf = false
  editor = vim
  excludesfile = ~/.yadr/gitignore_global
  pager = less -+S
[advice]
  statusHints = false
[diff]
  # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
  # instead of a/b/c/d as prefixes for patches
  mnemonicprefix = true
	tool = vimdiff
[rerere]
  # Remember my merges
  # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true
[mergetool "diffconflicts"]
  cmd = diffconflicts mvim $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
[mergetool]
  keepBackup = false
[remote "origin"]
  prune = true
[log]
  abbrevCommit = true
[difftool]
	prompt = false
[url "https://github.com/"]
	insteadOf = git://github.com/
[gpg]
	program = gpg2
