[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/typescript"]
	path = vim/bundle/typescript
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git@github.com:vim-scripts/Auto-Pairs.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/ultisnips-snippets"]
	path = vim/bundle/ultisnips-snippets
	url = git@github.com:eduarbo/ultisnips-snippets.git
