*.swp
*~
.netrwhist
.DS_Store
vim/tmp/*
vim/custom-dictionary.utf-8.add.spl
node_modules
vim/bundle/**
vim/plugged/**
vim/session
vim/sessions
vim/autoload/plug.old.vim
tmux/plugins/*
!tmux/plugins/tpm

# Emacs files
*.elc
*#
.#*
!.#
emacs.d/ac-comphist.dat
emacs.d/.places
emacs.d/.mc-lists*
emacs.d/history
emacs.d/eshell/
emacs.d/history/
emacs.d/undo/
emacs.d/saveplace/
emacs.d/elpa/
emacs.d/auto-save-list/
emacs.d/packages/
emacs.d/el-get/
emacs.d/backups/
emacs.d/network-security.data
emacs.d/projectile.cache
emacs.d/projectile-bookmarks.eld
