[submodule "zsh/plugins/syntax-highlighting"]
	path = zsh/plugins/syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/history-substring-search"]
	path = zsh/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/z"]
	path = zsh/plugins/z
	url = https://github.com/rupa/z.git
[submodule "/Users/eruiz/.dotfiles/vim/neobundle.vim"]
	path = /Users/eruiz/.dotfiles/vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
