# top-most editorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{Makefile,gitconfig,config,*.go}]
indent_style = tab

[*.{py,css,erb}]
indent_style = space
indent_size = 4

; vim: ft=dosini :
