/*
    Add custom tiling rules for applications that
    does not get tiled by Kwm by default.
    This is because some applications do not have the
    AXWindowRole and AXStandardWindowSubRole
*/
kwmc rule owner="iTerm2" properties={role="AXDialog"}
kwmc rule owner="Emacs" properties={role="AXStandardWindow"}

/*
The following commands create rules that
blacklists an application from Kwms tiling

    kwmc rule owner="Steam" properties={float="true"}
    kwmc rule owner="Photoshop" properties={float="true"}
*/
kwmc rule owner="Activity Monitor" properties={float="true"}
kwmc rule owner="App Store" properties={float="true"}
kwmc rule owner="1Password 6" properties={float="true"}
kwmc rule owner="Dashlane" properties={float="true"}
kwmc rule owner="AppCleaner" properties={float="true"}
kwmc rule owner="Contacts" properties={float="true"}
kwmc rule owner="Dictionary" properties={float="true"}
kwmc rule owner="GrandPerspective" properties={float="true"}
kwmc rule owner="Karabiner" properties={float="true"}
kwmc rule owner="Keka" properties={float="true"}
kwmc rule owner="Seil" properties={float="true"}
kwmc rule owner="SafeInCloud Password Manager" properties={float="true"}

/*
The following command creates a rule that
captures an application to the given screen,
if the screen exists.

   kwmc rule owner="iTunes" properties={display="1"}
*/
kwmc rule owner="Google Chrome" properties={space="1"}
kwmc rule owner="Safari" properties={space="1"}
kwmc rule owner="FirefoxDeveloperEdition" properties={space="1"}
kwmc rule owner="Emacs" properties={space="2"}
kwmc rule owner="iTerm2" properties={space="2"}
kwmc rule owner="Terminal" properties={space="2"}
kwmc rule owner="Atom" properties={space="2"}
kwmc rule owner="Sublime Text" properties={space="2"}
kwmc rule owner="HipChat" properties={space="3"}
kwmc rule owner="Slack" properties={space="3"}
kwmc rule owner="Skype" properties={space="3"}
kwmc rule owner="Mail" properties={space="4"}
kwmc rule owner="Calendar" properties={space="4"}
kwmc rule owner="Spotify" properties={space="5"}
kwmc rule owner="Finder" properties={space="6"}
kwmc rule owner="Android File Transfer" properties={space="6"}
kwmc rule owner="Adobe Lightroom" properties={space="7"}
kwmc rule owner="VirtualBox" properties={space="7"}