snippet f "function()"
function() {
	${0:// body...}
}
endsnippet

snippet ff "(function(){})()"
(function(${1}) {
	${0:// body...}
})(${2});
endsnippet

snippet use "'use strict'"
'use strict';
endsnippet
